h1 {
  font-family: 'Roboto', sans-serif;
  color: #98352E;
  font-weight:700;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #98352E;
  font-weight:700;
  font-size: 25px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #98352E;
  font-weight:700;
  font-size: 20px;
}

.offpage {
  position: absolute;
  text-align: left;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.offpage:active, a.offpage:focus, a.offpage:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a:visited {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#mainlogo {
  float:left;
  height: 75px;
  width: 150px;
  margin: 25px;
}

nav {
  float: right;
  margin: 25px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display:inline;
}

nav a:link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: #98352E;
  width: 150px;
  text-align: center;
  padding: 15px;
  margin:0 auto;
  margin-top: 10px;
}

nav a:hover {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #98352E;
  background: #cccccc;
}

nav a:visited {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: #98352E;
}

nav a:active {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #ffffff;
  background: #98352E;
}

a.current {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #98352E;
  background: #cccccc;
}

main {
  clear:both;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.current {
  text-transform: uppercase;
}
